#login_form{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}
.login_avatar{
    padding-top: 50px;
}

.login_div{
    margin-top: 15px;
    margin-left: 20px;
}

form{
    text-align: left;
}

.login_inp{
    padding: 10px;
    width: 90%;    
}


.form_footer{
    background-color: #f1f1f1;
    padding: 20px 0;
    border-top: 1px solid rgb(155, 153, 153);
}

button:hover{
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    background-color: #04AA6D;
    color: #ffffff;
}

button{
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    background-color:#f44336;
    color: #ffffff;
    margin-right: 50px;
}

button:active{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    text-align: center;
    background-color:#0c0c0b;
    color: #ffffff;
}

@media screen  and (max-width: 300px) {
body{ background-color:red}
button{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    text-align: center;
    background-color:#0c0c0b;
    color: #8c4040;
}
}